.main {
	width: 100%;
	padding: 20px;
}

h1 {
	color: blue;
	font-size: 26px;
	text-align: center;
	font-family: "Papyrus", sans-serif;
	margin-bottom: 20px;
}

.content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 30px;
}

aside {
	flex: 1;
	padding: 10px;
}

#vehicle {
	width: 100%;
	max-width: 450px; /* limits image width */
	height: auto; /* keeps aspect ratio */
	border-radius: 15px; /* smooth rounded corners */
	border: 4px solid #eae5dd; /* subtle border */
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* soft shadow for depth */
	transition: transform 0.3s ease, box-shadow 0.3s ease; /* smooth hover effects */
}

/* Hover effect for zoom and shadow */
#vehicle:hover {
	transform: scale(1.05); /* slight zoom */
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3); /* enhanced shadow */
}

.details {
	margin-top: 20px;
	font-family: "Papyrus", sans-serif;
	color: rgb(0, 0, 0);
	font-size: 18px;
}

p {
	font-family: "sans-serif";
}

.return-btn {
	margin-top: 20px;
	padding: 10px 20px;
	font-size: 16px;
	border: none;
	background-color: #007bff;
	color: white;
	border-radius: 6px;
	cursor: pointer;
	transition: 0.3s ease;
}

.return-btn:hover {
	background-color: #0056b3;
}
